{% extends 'base.html.twig' %}

{% set meta = {
    title: demo.name,
    title_suffix: ' -  Live Component - Symfony UX',
    description: demo.description|striptags,
    canonical: url(demo.route),
    social: {
        title: demo.name ~ ' - Symfony UX',
        description: demo.longDescription|markdown_to_html|striptags,
        image: {
            url: absolute_url(asset(demo.screenshotFilename('1280x720'))),
            type: 'image/png',
            width: 1280,
            height: 720,
            alt: demo.name ~ ' - Demo Screenshot',
        },
    },
} %}

{% block content %}

    {% block demo_header %}
        <div class="pt-20">
            <div class="max-w-[1400px] mx-auto pt-6 px-6 md:px-12 my-12">
                <div class="text-center md:mt-0">
                    <p class="eyebrows mb-4">
                        <a href="{{ url('app_demos') }}">DEMOS</a> /
                        <a href="{{ url('app_live_component') }}">Live Component</a>
                    </p>
                    <h1 class="text-center">{{ demo.name }}</h1>
                    <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-6 demo-introduction Wysiwyg">
                        {% block demo_description %}
                            {{ demo.longDescription|markdown_to_html }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% set messages = app.flashes('live_demo_success') %}
    {% if messages %}
        <div class="max-w-[1400px] mx-auto px-6 md:px-12">
            {% for message in messages %}
                <twig:Alert variant="success" data-turbo-cache="false">{{ message }}</twig:Alert>
            {% endfor %}
        </div>
    {% endif %}

    {% block demo_container %}
        <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12 md:pt-12 mb-12">
            <div class="mb-12" style="position: relative;">
                <div class="p-6 markdown-container bg-body shadow-blur shadow-blur--rainbow" id="demo">
                    {% block demo_content %}{% endblock %}
                </div>
                <div class="arrow-2 mb-4 sm:block" style="position:absolute; bottom: 0; left: 0; transform: scaleX(-1) translateY(70px) translateX(20px)"></div>
            </div>

            {% block code_block_full %}
                <div class="arrow mb-4 hidden md:block"></div>
                <div class="grid grid-cols-12 gap-x-6 mb-12">
                    <div class="col-span-12 md:col-span-6">
                        {% block code_block_left %}{% endblock %}
                    </div>
                    <div class="col-span-12 md:col-span-6 mt-4 md:mt-0">
                        {% block code_block_right %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    <div class="max-w-[1140px] mx-auto x-4 pt-6 md:px-12 md:pt-12">
        <div class="flex flex-wrap gap-6 justify-center items-center">
            <twig:Badge:Github label="Author" username="{{ demo.author }}" />
            <twig:Badge:Date label="Published" date="{{ demo.publishedAt }}" />
        </div>
    </div>

{% endblock %}

{% block aside %}
    <aside class="bg-subtle mt-12">
        <twig:Demo:PrevNext demo="{{ demo }}" />
    </aside>
{% endblock %}
