{% block update %}
    <twig:Turbo:Stream:Append target="#product-grid">
        {% for item in items %}
            <article class="ProductGrid_item" style="--color: {{ item.color }};">
                <div class="ProductGrid_media">
                    <svg>
                        <use href="#svg-tshirt"/>
                    </svg>
                    <span>{{ item.emoji }}</span>
                </div>
                <data class="ProductGrid_price" value="{{ item.id }}" data-currency="$">
                    {{ item.id + 1 }}<small>.99</small>
                </data>
            </article>
        {% endfor %}
    </twig:Turbo:Stream:Append>
    <twig:Turbo:Stream:Replace target="#product-grid-load-more">
        {% if has_more %}
            <twig:Turbo:Frame id="product-grid-load-more">
                <a href="{{ path('app_demo_turbo_infinite_scroll', {page: next_page}) }}" class="ProductGrid_more" data-turbo-prefetch="false">
                    Load More
                </a>
            </twig:Turbo:Frame>
        {% else %}
            <span class="code">The End</span>
        {% endif %}
    </twig:Turbo:Stream:Replace>
{% endblock %}
