{# @prop side 'top'|'right'|'bottom'|'left' The preferred side to display the tooltip. Defaults to `top` #}
{# @prop sideOffset number The distance in pixels from the trigger. Defaults to `0` #}
{# @block content The tooltip text or content #}
{%- props side = 'top', sideOffset = 0 -%}
{%- set _tooltip_wrapperId = inject('tooltip.wrapperId') -%}
{%- set _tooltip_contentId = inject('tooltip.contentId') -%}
{%- set _tooltip_arrowId = inject('tooltip.arrowId') -%}

<div
    id="{{ _tooltip_wrapperId }}"
    data-slot="tooltip-wrapper"
    data-side="{{ side }}"
    data-side-offset="{{ sideOffset }}"
    data-tooltip-target="wrapper"
    role="presentation"
    class="isolate z-50"
    style="position: fixed; left: 0; top: 0; will-change: transform;"
>
    <div
        class="{{ ('z-50 inline-flex w-fit max-w-xs items-center gap-1.5 rounded-md bg-body-text px-3 py-1.5 text-xs text-body ltr:has-data-[slot=kbd]:pr-1.5 rtl:has-data-[slot=kbd]:pe-1.5 **:data-[slot=kbd]:relative **:data-[slot=kbd]:isolate **:data-[slot=kbd]:z-50 **:data-[slot=kbd]:rounded-sm invisible opacity-0 scale-95 transition-all duration-200 open:visible open:opacity-100 open:scale-100 ' ~ attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({
            id: _tooltip_contentId,
            role: 'tooltip',
            'data-slot': 'tooltip-content',
            'data-side': side,
            'data-tooltip-target': 'content',
        }) }}
    >
        {%- block content %}{% endblock -%}

        <div
            id="{{ _tooltip_arrowId }}"
            data-side="{{ side }}"
            data-tooltip-target="arrow"
            aria-hidden="true"
            class="bg-body-text fill-body-text z-50 size-2.5 translate-y-[calc(-50%_-_2px)] rotate-45 rounded-[2px] data-[side=bottom]:top-1 data-[side=left]:top-1/2! data-[side=left]:-right-1 data-[side=left]:-translate-y-1/2 data-[side=right]:top-1/2! data-[side=right]:-left-1 data-[side=right]:-translate-y-1/2 data-[side=top]:-bottom-2.5"
            style="position: absolute;"
        ></div>{#- trim: this trailing whitespace text node would otherwise be a phantom flex item spaced by the content's gap-* class -#}
    </div>
</div>
