{% set sample_icons = this.getSampleIcons() %}
{% set samples = sample_icons|length %}
<article
    class="rounded-md relative flex flex-col transition duration-250 ease-in-out hover:-translate-y-2 shadow-sm hover:shadow-xl text-(--iconset-color)"
    data-iconset="{{ this.iconSet.identifier }}"
    style="--index: {{ index }}; --hue: calc(var(--index) * 77); --iconset-color: lch(70% 110 var(--hue, 240)); --iconset-color-bg: lch(80% 30 var(--hue, 240));"
>
    <div class="rounded-t-md grid w-full min-h-100px overflow-hidden bg-(--iconset-color-bg) place-content-stretch " style="aspect-ratio: 5/{{ samples / 5 }};">
        <div class="max-h-full w-full rounded place-content-stretch grid grid-cols-5 items-stretch justify-stretch">

            {% for icon in sample_icons|default([]) %}
                <div class="grid place-items-center shadow-[0_0_1px_#0007] {{ loop.index % 2 ? 'bg-white/3' : 'bg-black/3' }}">
                    <img src="https://api.iconify.design/{{ this.iconSet.identifier }}/{{ icon }}.svg"
                         alt="{{ icon }}"
                         width="24"
                         height="24"
                         loading="lazy"
                    />
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="py-3 px-4 flex-1 gap-2 flex flex-row items-center justify-between">
        <h3 class="text-lg m-0 p-1">
            <a class="text-inherit stretched-link" href="{{ url('app_icons', {set: iconSet.prefix}) }}">
                {{~ iconSet.name ~}}
            </a>
        </h3>
        <span class="text-sm font-stretch-semi-condensed">
            <em class="font-medium font-mono not-italic">{{ this.iconSet.total|number_format }}</em>
            <span class="text-muted">icons</span>
        </span>
    </div>

</article>
