<div class="PackageBox" style="--gradient: {{ package.gradient }};--color: {{ package.color }};">

    <div class="PackageBox_logo">
        <img width="36" height="36" src="{{ asset('images/ux_packages/' ~ package.imageFilename) }}"
             alt="Image for the {{ package.humanName }} UX package">
    </div>

    <div class="PackageBox_content">
        <{{ titleTag }} class="PackageBox_title">
            <a href="{{ package.isRemoved ? package.migrationGuideUrl : url(package.route) }}" class="PackageBox_link">{{ package.humanName }}</a>
            {% if package.isRemoved %}
                <twig:ux:icon name="flowbite:arrow-up-right-from-square-outline" class="PackageBox_arrow Icon"/>
            {% else %}
                <twig:ux:icon name="arrow-right" class="PackageBox_arrow Icon" />
            {% endif %}
        </{{ titleTag }}>
        <div class="PackageBox_description Wysiwyg">
            {{ package.description|markdown_to_html }}
        </div>
    </div>
</div>
