<div
    class="PackageHeader mb-5 {{ not (command ?? true) ? 'pb-5' }} pt-5"
    style="background: {{ package.gradient }}, {{ package.color }}; --color-accent: {{ package.color }};"
>
    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5 position-relative">

        <p class="eyebrows text-center text-white mt-5 mb-3" style="opacity: 0.85;">{{ eyebrowText|raw }}</p>

        <h1 class="text-center text-white text-balance text-shadow-lg [&_em]:inline-flex [&_em]:font-normal [&_em]:not-italic [&_em]:-skew-x-16 [&_em]:scale-y-95">{% block title_header %}{{ title|default }}{% endblock %}</h1>

        <div class="d-flex justify-content-center">
            <p class="text-center text-white mt-3 pb-3 hero-sub-text">
                {% block sub_content %}{{ subtitle|default }}{% endblock %}
            </p>
        </div>

        {% if package.isDeprecated %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-warning my-2" role="alert">
                    <twig:ux:icon name="bi:exclamation-triangle" class="Icon shrink-0 me-1" width="1em" height="1em" />
                    {% block deprecated_content %}
                        This component is <strong>deprecated</strong> and will not receive further updates.<br>
                    {% endblock %}
                </div>
            </div>
        {% endif %}

        <div class="flex gap-3 justify-center translate-y-1/2">
            {% if command is not defined or command %}
                <twig:TerminalCommand
                    aria-label="Composer command to install {{ package.humanName }}"
                    command="{{ package.composerRequireCommand }}"
                    style="--color-accent: {{ package.color }};"
                />
            {% endif %}

            {% if package.shouldShowDocsLink %}
                <a
                    href="{{ package.officialDocsUrl }}"
                    class="bg-body flex border rounded gap-2 py-2 px-3 relative items-center transition-colors"
                >
                    <twig:ux:icon name="mdi:book-open-variant-outline" class="Icon size-6" />
                    Read the docs
                </a>
            {% endif %}
        </div>
    </div>
</div>
