<div class="PackageHeader mb-5 {{ not (command ?? true) ? 'pb-5' }}"  style="background: {{ package.gradient }}, {{ package.color }}; --color-accent: {{ package.color }};"
>
    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5 position-relative">

        <p class="eyebrows text-center text-white mt-5 mb-3" style="opacity: 0.85;">{{ eyebrowText|raw }}</p>

        <h1 class="text-center text-white">{% block title_header %}{{ title|default }}{% endblock %}</h1>

        <div class="d-flex justify-content-center">
            <p class="text-center text-white mt-3 pb-3 hero-sub-text">
                {% block sub_content %}{{ subtitle|default }}{% endblock %}
            </p>
        </div>

        {% if package.isDeprecated %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-warning my-2" role="alert">
                    <twig:ux:icon name="bi:exclamation-triangle" class="flex-shrink-0 me-1" width="1em" height="1em" />
                    {% block deprecated_content %}
                        This component is <strong>deprecated</strong> and will not receive further updates.<br>
                    {% endblock %}
                </div>
            </div>
        {% endif %}

        <div class="d-flex justify-content-center flex-column-reverse flex-md-row">
            {% if command is not defined or command %}
                <twig:TerminalCommand
                    aria-label="Composer command to install {{ package.humanName }}"
                    command="{{ package.composerRequireCommand }}"
                    style="--color-accent: {{ package.color }}; transform: translateY(50%);"
                />
            {% endif %}

            {% if package.shouldShowDocsLink %}
                <twig:DocsLink
                    class="ms-md-3 align-self-center"
                    size="sm"
                    title="Read the docs"
                    url="{{ package.officialDocsUrl }}"
                />
            {% endif %}
        </div>
    </div>
</div>
