<div
    class="PackageHeader mb-12 {{ not (command ?? true) ? 'pb-12' }} pt-12"
    style="background: {{ package.gradient }}, {{ package.color }}; --color-accent: {{ package.color }};"
>
    <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12 md:pt-12 position-relative">

        <p class="eyebrows text-center text-white mt-12 mb-4" style="opacity: 0.85;">{{ eyebrowText|raw }}</p>

        <h1 class="text-center text-white text-balance text-shadow-lg [&_em]:inline-flex [&_em]:font-normal [&_em]:not-italic [&_em]:-skew-x-16 [&_em]:scale-y-95">{% block title_header %}{{ title|default }}{% endblock %}</h1>

        <div class="flex justify-center">
            <p class="Wysiwyg text-center text-white mt-4 pb-4 w-1/2 text-balance max-xl:w-3/5 max-[734px]:w-4/5">
                {% block sub_content %}{{ subtitle|default }}{% endblock %}
            </p>
        </div>

        <div class="flex flex-wrap gap-4 justify-center translate-y-1/2">
            {% if command is not defined or command %}
                <twig:TerminalCommand
                    aria-label="Composer command to install {{ package.humanName }}"
                    command="{{ package.composerRequireCommand }}"
                    style="--color-accent: {{ package.color }};"
                />
            {% endif %}

            {% if package.shouldShowDocsLink %}
                <a
                    href="{{ package.officialDocsUrl }}"
                    class="bg-body flex border rounded gap-2 py-2 px-4 relative items-center transition-colors"
                >
                    <twig:ux:icon name="mdi:book-open-variant-outline" class="Icon size-6" />
                    Read the docs
                </a>
            {% endif %}
        </div>
    </div>
</div>
