{% extends 'base.html.twig' %}

{% set meta = {
    title: 'Component ' ~ component.name ~ ' - ' ~ kit.humanName ~ ' Kit',
    description: kit.descriptionForComponent(component.name),
    canonical: url('app_icons'),
    social: {
        title: 'Component ' ~ component.name ~ ' - ' ~ kit.humanName ~ ' Kit',
        description: kit.descriptionForComponent(component.name),
        image: {
            url: absolute_url(asset(package.getSocialImage('1200x675'))),
            type: 'image/png',
            width: 1200,
            height: 675,
            alt: package.humanName ~ ' - Kit ' ~ kit.humanName,
        },
    }
} %}

{% block content %}
    <div class="hero"></div>

    <div class="container-fluid container-xl pt-4" style="display: grid; grid-template-columns: 180px 1fr; gap: 2rem">
        {{ include('toolkit/_kit_aside.html.twig') }}

        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_toolkit') }}">UX Toolkit</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_toolkit', {'_fragment': 'kits'}) }}">Kits</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_toolkit_kit', {kit: kit.value}) }}">{{ kit.humanName }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ component.name }}</li>
                </ol>
            </nav>

            <twig:Toolkit:ComponentDoc kit="{{ kit }}" component="{{ component }}" />
        </div>
    </div>
{% endblock %}
