{% extends 'base.html.twig' %}

{% set meta = {
    title: 'UX Toolkit - Kits - ' ~ kit.manifest.name,
    description: kit.manifest.description,
    canonical: url('app_icons'),
    social: {
        title: 'UX Toolkit - Kits - ' ~ kit.manifest.name,
        description: kit.manifest.description,
        image: {
            url: absolute_url(asset(package.getSocialImage('1200x675'))),
            type: 'image/png',
            width: 1200,
            height: 675,
            alt: package.humanName ~ ' - Kit ' ~ kit.manifest.name,
        },
    },
} %}

{% block content %}
    <div class="hero"></div>

    <div class="max-w-[1140px] mx-auto lg:pt-6 grid grid-cols-1 lg:grid-cols-[180px_1fr] gap-8 px-4 lg:px-0">
        <div class="hidden lg:block">
            {{ include('toolkit/_kit_aside.html.twig') }}
        </div>

        <div class="min-w-0">
            <div class="xl:hidden sticky top-0 z-9 -mx-4 mb-6 px-4 py-3 bg-body/85 backdrop-blur border-b border-border flex items-center gap-3">
                {{ include('toolkit/_kit_mobile_menu.html.twig') }}
            </div>

            <twig:Toolkit:Breadcrumb class="mb-2">
                <twig:Toolkit:Breadcrumb:Item>
                    <twig:Toolkit:Breadcrumb:Link href="{{ path('app_toolkit') }}">UX Toolkit</twig:Toolkit:Breadcrumb:Link>
                </twig:Toolkit:Breadcrumb:Item>
                <twig:Toolkit:Breadcrumb:Separator />
                <twig:Toolkit:Breadcrumb:Item>
                    <twig:Toolkit:Breadcrumb:Link href="{{ path('app_toolkit', {_fragment: 'kits'}) }}">Kits</twig:Toolkit:Breadcrumb:Link>
                </twig:Toolkit:Breadcrumb:Item>
                <twig:Toolkit:Breadcrumb:Separator />
                <twig:Toolkit:Breadcrumb:Item active>
                    {{ kit.manifest.name }}
                </twig:Toolkit:Breadcrumb:Item>
            </twig:Toolkit:Breadcrumb>

            <div class="Wysiwyg">
                {{- kit.installAsMarkdown|markdown_to_html -}}
            </div>
        </div>
    </div>
{% endblock %}
