{# @prop value string Unique suffix identifier for generating Tabs internal IDs #}
{# @block content The default block #}
{%- props value -%}
{%- set _tabs_defaultValue = inject('tabs.defaultValue', '') -%}

{%- set _tab_id = 'tab-' ~ value -%}
{%- set _tab_content_id = _tab_id ~ '-description' -%}
{%- set open = _tabs_defaultValue is same as(value) -%}
<button
    id="{{ _tab_id }}"
    data-slot="tabs-trigger"
    data-action="click->tabs#open"
    data-tabs-target="trigger"
    data-tab-id="{{ value }}"
    role="tab"
    aria-controls="{{ _tab_content_id }}"
    aria-selected="{{ open ? 'true' : 'false' }}"
    data-active="{{ open ? 'true' : false }}"
    class="{{ ('relative inline-flex h-[calc(100%-1px)] flex-1 items-center justify-center gap-1.5 rounded-md border border-transparent px-1.5 py-0.5 text-sm font-medium whitespace-nowrap text-body-text/60 transition-all group-data-[orientation=vertical]/tabs:w-full group-data-[orientation=vertical]/tabs:justify-start hover:text-body-text focus-visible:border-border focus-visible:ring-[3px] focus-visible:ring-border/50 focus-visible:outline-1 focus-visible:outline-border disabled:pointer-events-none disabled:opacity-50 ltr:has-data-[icon=inline-end]:pr-1 rtl:has-data-[icon=inline-end]:pe-1 ltr:has-data-[icon=inline-start]:pl-1 rtl:has-data-[icon=inline-start]:ps-1 dark:text-muted dark:hover:text-body-text group-data-[variant=default]/tabs-list:data-active:shadow-sm group-data-[variant=line]/tabs-list:data-active:shadow-none [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*=\'size-\'])]:size-4 group-data-[variant=line]/tabs-list:bg-transparent group-data-[variant=line]/tabs-list:data-active:bg-transparent dark:group-data-[variant=line]/tabs-list:data-active:border-transparent dark:group-data-[variant=line]/tabs-list:data-active:bg-transparent data-active:bg-body data-active:text-body-text dark:data-active:border-border dark:data-active:bg-surface/30 dark:data-active:text-body-text after:absolute after:bg-body-text after:opacity-0 after:transition-opacity group-data-[orientation=horizontal]/tabs:after:inset-x-0 group-data-[orientation=horizontal]/tabs:after:bottom-[-5px] group-data-[orientation=horizontal]/tabs:after:h-0.5 group-data-[orientation=vertical]/tabs:after:inset-y-0 ltr:group-data-[orientation=vertical]/tabs:after:-right-1 rtl:group-data-[orientation=vertical]/tabs:after:-end-1 group-data-[orientation=vertical]/tabs:after:w-0.5 group-data-[variant=line]/tabs-list:data-active:after:opacity-100 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content -%}{%- endblock -%}
</button>
