<div {{ attributes }}>
    <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-2">
            <twig:Form:Label for="fromYear">
                From: <code><small>({{ fromYear|abs }} mya)</small></code>
            </twig:Form:Label>
            <input
                type="range"
                class="w-full accent-[#222]"
                id="fromYear"
                data-model="fromYear"
                min="-200"
                max="{{ toYear }}"
            >
        </div>

        <div class="col-span-2">
            <twig:Form:Label for="toYear">
                To: <code><small>({{ toYear|abs }} mya)</small></code>
            </twig:Form:Label>
            <input
                type="range"
                class="w-full accent-[#222]"
                id="toYear"
                data-model="toYear"
                min="{{ fromYear }}"
                max="-65"
            >
        </div>

        <div class="col-span-8">
            <twig:Form:Label for="dinoTypes">Choose Dino Types</twig:Form:Label>
            <select
                data-model="currentTypes"
                multiple
                id="dinoTypes"
                data-controller="symfony--ux-autocomplete--autocomplete"
            >
                {% for type in allTypes %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <hr>

    <div style="min-height: 480px; margin-bottom: 1.5rem;">
        {{ render_chart(chart) }}
    </div>

    <small>Source:
        <a href="https://www.nhm.ac.uk/" class="link">National History Museum</a> courtesy of
        <a href="https://github.com/kjanjua26/jurassic-park" class="link">https://github.com/kjanjua26/jurassic-park</a>
    </small>

</div>
