<div {{ attributes }}>
    {% if flashMessage %}
        <twig:Alert variant="success" class="mb-4">{{ flashMessage }}</twig:Alert>
    {% endif %}

    <div class="inline-flex">
        {% if isEditing %}
            {# The form isn't used, but allows the user to hit enter to save. #}
            <form class="flex flex-col gap-4">
                <div class="mb-4">
                    {% set error = this.getError('food.name') %}

                    <twig:Form:Label for="food_name">Food name</twig:Form:Label>
                    <div class="flex gap-2">
                        <twig:Form:Input type="text" id="food_name" data-model="food.name" hasError="{{ error is not null }}" class="py-2" autofocus />
                        <twig:Button
                            variant="outline"
                            class="shrink-0 {{ error ? 'border-signal-red text-signal-red' }}"
                            data-action="live#action:prevent"
                            data-live-action-param="save"
                        >Save</twig:Button>
                    </div>

                    <twig:Form:Errors errors="{{ error ? error.message : null }}" />
                </div>
                <div class="text-sm text-muted">Clear the field to trigger validation!</div>
            </form>
        {% else %}
            <h2>{{ food.name }}</h2>
            <twig:Button
                variant="link"
                data-action="live#action"
                data-live-action-param="activateEditing"
                title="Click to edit!"
            >
                <twig:ux:icon name="pencil" />
            </twig:Button>
        {% endif %}
    </div>

    <hr>
    <p>
        The <strong>{{ food.name }}</strong> has {{ food.votes }} votes! Yum!
    </p>
</div>
