<tr {{ attributes }}>
    <td>
        {% if isEditing %}
            <twig:Form:Select data-model="product" aria-label="Choose a Product" hasError="{{ _errors.has('product') }}">
                <option value="" {{ not product ? 'selected' }}>Choose a Product</option>
                {% for product_option in products %}
                    <option
                        value="{{ product_option.id }}"
                        {% if product_option == product %}selected{% endif %}
                    >
                        {{ product_option.name }} ({{ product_option.priceInCents|format_currency('USD') }})
                    </option>
                {% endfor %}
            </twig:Form:Select>
            <twig:Form:Errors errors="{{ _errors.get('product') }}" />

        {% else %}
            {{ product.name }}
        {% endif %}
    </td>

    <td>
        {% if not isEditing %}
            {{ product.priceInCents|format_currency('USD') }}
        {% endif %}
    </td>

    <td>
        {% if isEditing %}
            <twig:Form:Input type="number" data-model="quantity" aria-label="Quantity" hasError="{{ _errors.has('quantity') }}" />
            <twig:Form:Errors errors="{{ _errors.get('quantity') }}" />
        {% else %}
            {{ quantity }}
        {% endif %}
    </td>
    <td class="text-right text-nowrap">
        {% if isEditing %}
            <twig:Button
                variant="success"
                size="sm"
                data-action="live#action"
                data-live-action-param="save"
            >Save</twig:Button>
        {% else %}
            <twig:Button
                variant="primary"
                size="sm"
                data-action="live#action"
                data-live-action-param="edit"
            >Edit</twig:Button>
        {% endif %}

        <twig:Button
            variant="link"
            size="sm"
            data-action="live#emitUp"
            data-live-event-param="removeLineItem"
            data-live-key-param="{{ key }}"
            class="ml-2 text-signal-red"
        ><twig:ux:icon name="cross" /></twig:Button>
    </td>
</tr>
