{% extends 'base.html.twig' %}

{% macro package_box(package) %}
    <twig:Box
        color="{{ package.color }}"
        gradient="{{ package.gradient }}"
        logoSize="4rem"
        titleTag="h3"
        titleClass="text-xl!"
    >
        <twig:block name="logo">
            <img width="36" height="36" src="{{ asset('images/ux_packages/' ~ package.imageFilename) }}"
                 alt="Image for the {{ package.humanName }} UX package">
        </twig:block>
        <twig:block name="title">
            {{ package.humanName }}
        </twig:block>
        <twig:block name="description">
            {% if package.shouldShowDocsLink %}
                <a href="{{ package.officialDocsUrl }}"
                class="stretched-link inline-flex items-center gap-1 text-body-text no-underline"
                rel="external noopener noreferrer"
                title="{{ package.humanName }} documentation on symfony.com"
                >
                    <twig:ux:icon name="lucide:book" />
                    Read Docs
                </a>
            {% else %}
                <span class="text-body-text italic">
                    No documentation
                </span>
            {% endif %}
        </twig:block>
    </twig:Box>
{% endmacro %}

{% set meta = {
    title: 'Documentation',
    description: 'Symfony UX bundle and packages documentation',
    canonical: url('app_documentation'),
} %}

{% block content %}
    <div class="pt-20">
        <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12">
            <h1 class="text-center mt-12">Documentation</h1>
            <p class="text-center demo-introduction">
                    Read full documentation on
                <a href="https://symfony.com/bundles#symfony-ux-bundles"><code>symfony.com</code></a>
            </p>
        </div>
    </div>

    <section class="max-w-[1400px] mx-auto px-6 md:px-12 py-4">
        <div class="items-center md:text-start mb-6">
            <h2 class="ubuntu pt-2 component-headlines">Packages</h2>
        </div>
        <div
            style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));">
            {% for package in packages %}
                {{ _self.package_box(package) }}
            {% endfor %}
        </div>

        <div class="items-center md:text-start mt-12 mb-6">
            <h3 class="ubuntu pt-2 component-headlines">Deprecated and removed packages</h3>
        </div>
        <div
            style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));">
            {% for package in removed_packages %}
                {{ _self.package_box(package) }}
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block aside %}
    {{ include('_aside.html.twig') }}
{% endblock %}
