<aside class="bg-subtle mt-12">
    <div class="max-w-[1400px] mx-auto p-6 md:p-12">
        <div style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fill, minmax(min(100%, 340px), 1fr));">
            {% if package.shouldShowDocsLink %}
                <twig:DocsLink
                    title="Documentation"
                    text="Symfony UX {{ package.humanName }} Docs"
                    url="{{ package.officialDocsUrl }}"
                    icon="symfony"
                />
            {% endif %}
            {% if package.screencastLink %}
                <twig:DocsLink
                    title="Screencasts"
                    text="{{ package.screencastLinkText }}"
                    url="{{ package.screencastLink }}"
                    icon="symfonycast"
                />
                <twig:DocsLink
                    title="Community"
                    text="Feedback · support · contributions."
                    url="https://github.com/symfony/ux"
                    icon="github"
                />
            {% else %}
                <twig:DocsLink
                    title="Community"
                    text="Feedback · support · contributions."
                    url="https://github.com/symfony/ux"
                    icon="github"
                />
                <twig:DocsLink
                    title="Support"
                    text="Get help with Symfony UX {{ package.humanName }}"
                    url="{{ url('app_support') }}"
                    icon="symfony"
                />
            {% endif %}

        </div>
    </div>
</aside>
