{% extends 'ux_packages/package.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'autocomplete',
        eyebrowText: 'Smart Form Controls',
    } %}
        {% block title_header %}
            Ajax-Powered Autocomplete
            <em>&lt;select&gt;</em>
        {% endblock %}

        {% block sub_content %}
            Breathe life into <code>EntityType</code> and
            <code>ChoiceType</code> fields
            with <a href="https://tom-select.js.org/" rel="noopener nofollow noreferrer">Tom Select</a>
            and a sprinkle of Ajax.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="src/Form/TimeForAMealForm.php" height="300px" />
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock filename="src/Form/FoodAutocompleteField.php" height="300px" />
{% endblock %}

{% block demo_title %}UX Autocomplete{% endblock %}

{% block demo_content %}
    {# The frame is used just to keep the form submit all in one place: it feels nice #}
    <turbo-frame id="autocomplete-demo-form">
        {% for message in app.flashes('autocomplete_success') %}
            <twig:Alert variant="success" data-turbo-cache="false">{{ message }}</twig:Alert>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_row(form.foods, {attr: {class: 'mb-3'}}) }}

            {{ form_row(form.name, {attr: {class: 'mb-3'}}) }}

            <twig:Button variant="primary" type="submit">Let's Nom!</twig:Button>
        {{ form_end(form) }}
    </turbo-frame>
{% endblock %}
