{% set actions -%}
    <div class="Terminal_actions">
        <div
            data-controller="clipboarder"
            data-clipboarder-source-value="{{ code }}"
            class="code-buttons"
        >
            {%- set _copy_id = 'tt-' ~ random(1000000000) -%}
            <twig:Tooltip id="{{ _copy_id }}">
                <button
                    type="button"
                    class="btn-copy"
                    data-tooltip-target="trigger"
                    aria-describedby="{{ _copy_id }}_content"
                    data-action="clipboarder#copy mouseenter->tooltip#show mouseleave->tooltip#hide focus->tooltip#show blur->tooltip#hide"
                    data-clipboarder-target="button"
                >
                    <twig:ux:icon name="copy"/>
                </button>
                <twig:Tooltip:Content side="bottom">Copy code</twig:Tooltip:Content>
            </twig:Tooltip>
        </div>

    </div>
{%- endset -%}

<div {{ attributes.defaults({
    class: 'Terminal',
}) }}>
    {% if filename %}
        <div class="Terminal_header py-2 px-4 mb-0 flex justify-between items-center">
            <span class="Terminal_title font-mono">
                {{ filename }}
            </span>
            {{- actions -}}
        </div>
    {% endif %}
    <div class="Terminal_body">
        {% if not filename %}
            {{- actions -}}
        {% endif %}
        <div class="Terminal_content">
            <pre><code class="language-{{ language }}">
                {{- code|highlight(language, collapse_classes: collapseClass) -}}
            </code></pre>
        </div>
    </div>
</div>
