<div {{ attributes.defaults({
    class: 'grid grid-cols-12 gap-x-16 mb-12 py-6 relative ' ~ (this.sticky|default ? 'items-start' : 'items-center'),
}) }}>
    <div class="col-span-12 md:col-span-{{ 12 - this.codeCols }} code-description {{ not reversed ? 'md:order-2' }}"
         style="{% if reversed %}padding-inline-end: 0;{% endif %} {{ this.sticky|default ? 'position: sticky; top: 4rem;' }}">
        {% block explanation %}
            <div class="Wysiwyg">
                {% apply markdown_to_html %}
                    {{ block('content')|split('\n')|map(x => x|trim)|join('\n')|raw }}
                {% endapply %}
            </div>
        {% endblock %}
    </div>
    <div class="col-span-12 md:col-span-{{ this.codeCols }} {{ not reversed|default ? 'md:order-1' }}"  {% if reversed %}style="padding-inline-end: 0;"{% endif %}>
        {% block code %}
            <twig:CodeBlock
                :filename="filename"
                :targetTwigBlock="targetTwigBlock"
                :showTwigExtends="false"
                :showFilename="showFilename"
                :lineStart="lineStart"
                :lineEnd="lineEnd"
                :copyButton="copyButton"
                :stripExcessHtml="stripExcessHtml"
                height="{{ height|default('auto') }}"
                style="--bg-header: rgba(13, 13, 13, 0.729); --header-opacity: .5;"
            />
        {% endblock %}
    </div>
</div>
