{# Resolve the tab ids here: inside the <twig:Tabs> slot `this` is the (anonymous)
   Tabs component, not this one, so this.getItemId() must be called in this scope. #}
{% set tabs = [] %}
{% for filename in files %}
    {% set tabs = tabs|merge([{ filename: filename, id: this.getItemId(filename) }]) %}
{% endfor %}

<div {{ attributes.defaults({
    class: 'relative',
}) }}>
    <div class="Terminal">
        <twig:Tabs defaultValue="{{ tabs[0].id }}" class="gap-0">
            <div class="Terminal_header pb-0">
                <twig:Tabs:List class="h-auto w-full justify-start gap-1 rounded-none bg-transparent p-0">
                    {% for tab in tabs %}
                        <twig:Tabs:Trigger
                            value="{{ tab.id }}"
                            class="flex-none rounded-none border-0 px-3 py-2 font-mono text-n-200 hover:text-n-100 data-active:bg-(--bg-color) dark:data-active:bg-(--bg-color) data-active:text-white dark:data-active:text-white group-data-[variant=default]/tabs-list:data-active:shadow-none"
                        >{{ tab.filename }}</twig:Tabs:Trigger>
                    {% endfor %}
                </twig:Tabs:List>
            </div>
            {% for tab in tabs %}
                <twig:Tabs:Content value="{{ tab.id }}">
                    <twig:CodeBlock filename="{{ tab.filename }}" :showFilename="false" height="auto" />
                </twig:Tabs:Content>
            {% endfor %}
        </twig:Tabs>
    </div>
</div>
