{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <meta name="turbo-prefetch" content="false">
{% endblock %}

{% set meta = {
    title: 'UX Icons - SVG icons made easy',
    description: 'Render SVG icons seamlessly from your Twig templates. Find the perfect icon among 200,000 choices from the most popular icon sets.',
    canonical: url('app_icons'),
    social: {
        title: 'Symfony UX Icons - SVG icons made easy',
        description: 'Render SVG icons seamlessly from your Twig templates. Find the perfect icon among 200,000 choices from the most popular icon sets.',
        image: {
            url: absolute_url(asset(package.getSocialImage('1200x675'))),
            type: 'image/png',
            width: 1200,
            height: 675,
            alt: package.humanName ~ ' - Component Icon',
        },
    },
} %}

{% block content %}

    <div class="pt-20">
        <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12">
            <p class="eyebrows text-center mt-12 mb-4">SVG icons made easy</p>
            <h1 class="text-center">
                <a href="{{ url('app_icons') }}">UX Icons</a>
            </h1>
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-6 text-center demo-introduction">
                <p>
                    Render SVG icons seamlessly from your Twig templates.
                <br/>
                    Find the <code>perfect icon</code> among <code>200,000 choices</code> from the most popular <code>icon sets</code>.
                </p>
            </div>
        </div>
    </div>

    <section class="max-w-[1400px] mx-auto px-6 md:px-12 py-4">
        <twig:Icon:IconSearch/>
    </section>

    <section class="max-w-[1400px] mx-auto px-6 md:px-12 py-4">
        <p class="eyebrows" style="margin: 4rem 0 0;">Iconic Packages</p>
        <div class="md:flex md:justify-between text-center items-center md:text-start">
            <h2 class="ubuntu pt-2 component-headlines">Popular <em class="rainbow-emphasis">Icon Sets</em></h2>
            <twig:Button href="https://symfony.com/bundles/ux-icons/current/index.html" rel="external" target="_blank" class="my-4 md:my-0">
                Read Documentation
                <twig:ux:icon name="arrow-right" class="Icon -rotate-45"/>
            </twig:Button>
        </div>
        <div class="mt-4 md:mt-12">
            <div style="display:grid; grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)); gap: 2rem;">
                {% for icon_set in iconSets %}
                    <twig:Icon:IconSetCard
                        iconSet="{{ icon_set }}"
                        index="{{ loop.index0 }}"
                    />
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="max-w-[1400px] mx-auto px-6 md:px-12 py-4">

        <div class="md:flex md:justify-between py-12 text-center items-center md:text-start">
            <h2 class="ubuntu pt-2 component-headlines">Documentation</h2>
            <twig:Button href="https://symfony.com/bundles/ux-icons/current/index.html" rel="external" target="_blank" class="my-4 md:my-0">
                Read Full Documentation
                <twig:ux:icon name="arrow-right" class="Icon -rotate-45"/>
            </twig:Button>
        </div>

        <div class="grid sm:grid-cols-3 gap-x-6 gap-y-3">
            <div class="col-span-1">
                <h3 class="ubuntu mb-3 sm:mb-6" style="font-weight: 400;" title="Install UX Icons">Installation</h3>
                <twig:Terminal bottomPadding="20">
                    composer require {{ package.composerName }}
                </twig:Terminal>
            </div>
            <div class="col-span-1">
                <h3 class="ubuntu mb-3 sm:mb-6" style="font-weight: 400;" title="Search UX Icons">Search Icons</h3>
                <twig:Terminal bottomPadding="20">
                    php bin/console ux:icons:search lucide
                </twig:Terminal>
            </div>
            <div class="col-span-1">
               <h3 class="ubuntu mb-3 sm:mb-6" style="font-weight: 400;" title="Symfony UX Bundle Configuration">Configuration</h3>
                <twig:Terminal bottomPadding="20">
                    php bin/console debug:config ux_icons
                </twig:Terminal>
            </div>
        </div>
    </section>

{% endblock %}

{% block aside %}
    {{ include('icons/_aside.html.twig') }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <twig:Icon:IconModal/>
{% endblock %}
